*{
    margin: 0;
    padding: 0;
}
.wrapPX{
    width: 1242px;
    margin: 0 auto;
}
header{
    height: 50px;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    z-index: 12;
    position: fixed;
}
.logoPX{
    width: 30%;
    float: left;
    line-height: 50px;
}
.logoPX a{
    text-decoration: none;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    letter-spacing: 5px;
}
nav{
    float: right;
    line-height: 35px;
}

nav ,ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a {
    line-height: 0px;
    color: #fff;
    padding: 12px 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}
nav ul li a:hover{
    border-radius: 70px;
}
nav a{
    text-decoration: none;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    letter-spacing: 4px;
    margin: 0 20px;
}

nav a:hover{
    border-radius: 100px;
}

.wrapoPX .ybePX h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    color: black;
}

.fnfPX{
    width: 100%;
    height: 500px;
    position: fixed;
    top: 0px;
    background-image: url(images/Head_IMGo.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    text-align: center;
}
.fnfPX h2{
    padding-top: 210px;
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    color: #fff;
}
.navPX{
    width: 100%;
    background-color: rgb(2, 17, 29);
    margin: auto;
    overflow: auto;
    height: 50px;
}
.navPX a{
    margin-right: 100px;
}
.contentPX{
    width: 100%;
    position: relative;
    top: 450px;
    background-image: url(images/indexback.jpg);
    height: 600px;
}
.contentPX h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 20px;
    margin: 0;
}
.contentPX p{
    padding: 2% 0;
    font-family: 'Times New Roman', Times, serif;
    line-height: 30px;   
}

.butPX{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
    background-color: black;
}

.btn{
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
}

.but1, .but2, .but3, .but4{
    color: #3498db;
}

.but1:hover, .but2:hover, .but3:hover, .but4:hover{
    color: #fff;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
}

.but1::before, .but2::before, .but3::before, .but4::before{
    top: 0;
    border-radius: 6px 6px 6px 6px;
}

footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    padding-bottom: 0%;
    color: #fff;
    background-color: #011c39;
}
.footyPX{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    padding-bottom: 0px;
    border-top: 1px solid #eee;
    margin-top: 0px;
}
.footyPX .social a{
    font-size: 22px;
    width: 45px;
    height: 45px;
    line-height: 39px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #05ff05;
    box-shadow: 0px 0px 0px 1px rgba (255, 255, 255, 0.4);
    margin: 10px;
    color: #fff;
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}
.footyPX .social a:hover{
    opacity: 0.9;
    box-shadow: 0px 1px 3px 2px rgba(255, 255, 255, 0.4);
}
.copyrightPX{
    text-align: center;
    padding-top: 24px;
    font-weight: 500;
    opacity: 0.8;
    font-size: 16px;
}